/* body {
    color: #FFFFFF;
    background-color: #FFFFFF;


}

.stButton>button {
    color: #FFFFFF;
    border-radius: 10%;
    height: 3em;
    width: 6em;
    background:#000000;
    border-radius: 16px;
    box-shadow: 0 4px 30px #000000;
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    border: 1px solid #00FFF5;
}

.stTextInput>div>div>input {
    color: #FFFFFF;

}
 */
/* Body Background and Text Color */
body {
    color: #333333;
    background-color: #F0F0F0; /* Light gray background color */
}

/* Button Background and Text Color */
.stButton>button {
    color: #FFFFFF;
    border-radius: 10%;
    height: 3em;
    width: 6em;
    background: #3498DB; /* A bright blue color for the button background */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Slightly transparent shadow */
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    border: 1px solid #3498DB; /* Match the border color to the button background */
}

/* Input Text Color */
.stTextInput>div>div>input {
    color: #333333; /* Dark text color */
}
